- app_title "New Meeting"

#step
  %h3="Create new meeting"
  .form
    = form_for @meeting, :url => {:controller => :meetings, :action => :update}  do |f|
      = render "form_details", :f => f
      %p{:class => 'big-button'}
        = submit_tag 'Continue', :class => 'round'
