.field
  %p{:class => 'fields'}
    = f.label :description, "Task"
    = f.text_field :description
    - temp = []
    - temp |= @meeting.participants
    - temp << Person.find(@meeting.creator_id)
    = f.select :person_id, temp.collect {|p| [ p.name, p.id ] }
    = link_to_remove_fields "remove", f
