.field
  %p{:class => 'fields'}
    = f.text_field :name, :class => "inputlist last"
    %span{:style => "display: none"}
      = link_to_remove_fields image_tag("w_delete.png", :style => "margin-bottom: -9px"), f
