<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Thank you for using our service. Follow the URL below to manage your meeting:</p>
    <br>
  </body>
</html>
