body {
	margin: 30px 0;
	padding: 0;
	text-align: center;
	font-size: 120%;
	background: #9EDEEC;
}

p, input, textarea, select, td {
	font-family: 'Georgia';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial';
	color: #AAA;
}

table {
  text-align: center;
  width: 100%;
}

#container {
	width: 800px;
	padding: 20px;
	text-align: left;
	margin: 0 auto 0 auto;
	/* border: 5px solid #FF770E; */
}

a, input {
	color: #9EDEEC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.round {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.smallround {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.topround {
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}

.shadow {
	box-shadow: 1px 2px 5px #4C686E;
}

/*
	Header
*/

#header {
	background: #FFF;
	padding: 20px;
	margin: -20px;
	margin-bottom: 40px;
	width: 200px;
	text-align: center;
}

#header h1 {
	color: #9EDEEC;
	margin: 0;
}

#header a {
	color: #9EDEEC;
	text-decoration: none;
}

/*
	Content
*/

#content {
	background: #FFF;
	padding: 20px;
	padding-top: 10px;
	margin: -20px;
}

td, td input, td label {
	padding: 10px;
	/*border: 1px solid #FF770E;
	width: 33%;*/
	vertical-align: center;
  font-size: 100%;
}

td.emailcol {
  width: 200px;
}

td.rsvpcol {
  width: 150px;
}

p.big-button {
	margin: 25px 0 25px 0;
	text-align: center;
}

p.green-button {
	float: right;
	text-align: right;
	line-height: 200%;
	margin-top: -15px;
}

p.big-button a, p.float-button a, p.big-button input {
	padding: 20px;
	text-decoration: none;
	background: #FF770E;
	color: #FFF;
}

p.small-button a, p.small-button input {
	text-decoration: none;
	background: #FF770E;
	color: #FFF;
}

p.big-button input {
  font-size: 120%;
  border: 0;
  margin: 0;
}

p.big-button input:hover {
  cursor: pointer;
  font-size: 120%;
  border: 0;
  margin: 0;
}

p.small-button {
	margin: 3px 10px 15px 0;
	text-align: right
}

p.small-button input {
  font-size: 100%;
  border: 0;
  margin: 0;
}

p.small-button input:hover {
  cursor: pointer;
  font-size: 100%;
  border: 0;
  margin: 0;
}

p.green-button a {
	padding: 10px;
	text-decoration: none;
	background: #005E05;
	color: #FFF;
}

form {
	margin: 25px auto 0 auto;
	text-align: center;
	width: 510px;
}

form.participants {
	width: auto;
  text-align: center;
}

form p {
	text-align: left;
}

input[type=text], textarea, select {
	font-size: 100%;
	color: #666;
	width: 300px;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #666;
}

textarea {
	width: 500px;
	height: 150px;
}

.invalid {
	font-size: 80%;
	color: red;
	padding-left: 30px;
}

.valid {
	font-size: 80%;
	color: green;
	padding-left: 30px;
}

#tabsdiv {
	margin: -10px -20px 0 -20px;
	padding: 15px 20px 8px 20px;
	width: 800px;
	background: #AAA;
}

ul#tabs {
	list-style: none;
	display: inline;
	font-family: 'Arial';
	color: white;
	font-weight: bold;
	background: #AAA;
}

ul#tabs li {
	display: inline;
	padding: 10px 25px 10px 25px;
	margin: 0;
	cursor: pointer;
}

ul#tabs li:hover {
	background: #BBB;
}

ul#tabs li.selected {
	background: white;
	color: #AAA;
}

/*bug do datepicker*/
#ui-datepicker-div {
  display: none;
} 
